<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}
@if(Model.ContainsKey("message"))
{
  <h3>@Model["message"]</h3>
}
<div class="container">
  <h2>Welcome to Date-A-Base</h2><br>
  <form action="/sign-in" method="post">
    <h2>Sign-In</h2>
    <label for="user-name">Username</label>
    <input class="form-control" type="text" name="user-name">
    <label for="user-password">Password</label>
    <input class="form-control" type="password" name="user-password">
    <br>
    <button type="submit">Enter</button>
  </form>

  <form action="/sign-up" method="post">
    <h2>Sign-Up</h2>
    <label for="new-user-name">New Username:</label>
    <input class="form-control" type="text" name="new-user-name">
    <label for="new-user-password">New Password:</label>
    <input class="form-control" type="password" name="new-user-password">
    <br>
    <button type="submit">Enter</button>
  </form>
</div>
