<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <div class="jumbotron">
      <h1>TEMPLATE</h1>
    </div>
      <h2>TEMPLATE</h2><br>

        <form action="/TEMPLATE" method="post">
          <button type="submit">SUBMIT</button>
        </form>
      <h5><a href="/TEMPLATE">TEMPLATE</a></h5><br>
    </div>
