@{
  Layout="Shared/_Layout.cshtml";
}
<h2>@Model["user"].FirstName @Model["user"].LastName</h2>
<img src="@Model["photo"].Url" alt="Picture">
<form action="/photo/@Model["photo"].Id/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">

  <button type="sumbit" class="btn btn-danger">Delete photo</button>
</form>
<a href="/user/@Model["user"].Id/photo/@Model["photo"].Id/previous">Previous</a><br>
<a href="/user/@Model["user"].Id/photo/@Model["photo"].Id/next">Next</a>
