<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  @if(Model.ContainsKey("message"))
  {
    <h3>@Model["message"]</h3>
  }
  <div class="jumbotron">
    <h1>@Model.['user'].UserName</h1>

  </div>
</div>
