<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}
@{
  string senderName = " ";
}
@if(Model.ContainsKey("message"))
{
  <h3>@Model["message"]</h3>
}

<div class="container">
  <div class="row">
    <div class="col-md-2">
    <img src="@Model["user"].GetProfilePhoto().Url" alt="profile picture" id="profilePic"/>
    <h4><a href="/user/@Model["user"].Id">My Profile</a></h4>
    <h4><a href="/users">View All Profiles</a></h4>
    <h4><a href="/user/messages">View Messages</a></h4>
    <br>
    <h4 id="log-out-h4"><a href="/logout">Log-Out</a></h4>
  </div>
  <div class="col-md-10">
  <div class="well">
    <h1>From: @Model["sender"].UserName</h1>
  </div>
    <hr>
    <div class="well">
    <h4>@Model["user"].MessageBody</h4>
  </div>

    <button class="btn btn-info"type="button" name="reply"><a href="/user/messages/@Model["sender"].Id/reply">Reply</a></button>
    <form action="/user/message/@Model["user"].Id/delete" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger" type="submit" name="button">Delete</button>
    </form>

  <p>
    <a href="/user/@Model["user"].Id">Home</a>
  </p>
  </div>
</div>
</div>
