<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}
@{
  string senderName = " ";
}
@if(Model.ContainsKey("message"))
{
  <h3>@Model["message"]</h3>
}

<div class="container">
  <div class="well">
    <h1>From: @Model["sender"].UserName</h1>
  </div>
    <hr>
    <div class="well">
    <h4>@Model["user"].MessageBody</h4>
  </div>

    <button class="btn btn-info"type="button" name="reply"><a href="/user/messages/@Model["sender"].Id/reply">Reply</a></button>
    <form action="/user/message/@Model["user"].Id/delete" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger" type="submit" name="button">Delete</button>
    </form>

  <p>
    <a href="/user/@Model["user"].Id">Home</a>
  </p>
</div>
