.hidden-button{
  display: none;
}
img {
  width: 20%;
  height: 20%;
}
#profilePic, #listPic {
  width: 100px;
  height: 100px;
}
.sign-in{

}
.well{
  background: rgba(0, 0, 0, 0.1);
}
.centering{
  text-align: center;

}
body{
  font-family: 'Space Mono', monospace;
  background-color: rgb(32,103,178);
  color: white;
}
a:link, a:visited,a:active{
  color:white;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}
.small-picture
{
  border-radius: 100%;
}
.block
{
  display: inline;
}
.filter{
  display:inline-block;
  padding 5px;
  border: 1px solid coral;
  border-radius: 3px;
}
.photo-nav{
  margin-right: 5px;
}
option{
  color: black:\;
}
