.hidden-button{
  display: none;
}
img {
  width: 20%;
  height: 20%;
}
#profilePic {
  width: 100px;
  height: 100px;
}
.sign-in{

}
.well{
  background: rgba(131, 204, 226, 0.5);
}
.centering{
  text-align: center;
}
